
<!--main menu starts from here-->
<div class="menuOverlay">
    <a href="javascript:void(0);" class="closeBtn"></a>
    <div class="menuWrap">
        <div class="leftMenuBox animated ">
            <div class="topMenu  mobileMenu">
                <div class="rightSec">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" class="favourite"><img src="/{{ directory }}/images/icon-favourite.png"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="/{{ directory }}/images/mobile-user.png" alt="mobile-user"></a>
                        </li>
                        <li class="dropdown countryLanguage"><a href="javascript:void(0);">IND</a>
                            <ul class="contryDropdown" style="display:none;">
                                <li><a href="javascript:void(0);">Country1</a></li>
                                <li><a href="javascript:void(0);">Country2</a></li>
                                <li><a href="javascript:void(0);">Country3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="mainMenu">
                <div class="menuLogo"><a href="javascript:void(0);"><img src="/{{ directory }}/images/logo-lodha-black.png" alt="logo-lodha-black"/></a></div>
                <li class="menuActive"><a href="javascript:void(0);">Residential Properties</a></li>
                <li><a href="javascript:void(0);">Commercial Properties</a></li>
                <li><a href="javascript:void(0);" class="subMenuDropdown">Services <span class="dropdownArrow"></span></a>
                    <ul class="subMenu" style="display:none;">
                        <li><a href="javascript:void(0);">Easy lease</a></li>
                        <li><a href="javascript:void(0);">Priva</a></li>
                        <li><a href="javascript:void(0);">Home loan support</a></li>
                        <li><a href="javascript:void(0);">Registration support</a></li>
                        <li><a href="javascript:void(0);">Hospitality and facilities management</a></li>
                        <li><a href="javascript:void(0);"> NRI services</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0);" />Investor Corner</a>
                </li>
                <li><a href="javascript:void(0);" />NRI Corner</a>
                </li>
                <li><a href="javascript:void(0);" />About Lodha</a>
                </li>
                <li><a href="javascript:void(0);" />Careers</a>
                </li>

            </ul>

        </div>
        <div class="rightMenuBox animated">
            <div class="topMenu">
                <div class="rightSec">
                    <ul>
                        <li><a href="javascript:;" class="favourite"><img src="/{{ directory }}/images/icon-search.png"></a></li>
                        <li><a href="javascript:;" class="favourite"><img src="/{{ directory }}/images/icon-favourite.png"></a></li>
                        <li><a href="javascript:void(0);"><img src="/{{ directory }}/images/mobile-user.png" alt="mobile-user"/></a></li>
                        <li class="dropdown countryLanguage"><a href="javascript:void(0);">IND</a>
                            <ul class="contryDropdown" style="display:none;">
                                <li><a href="javascript:void(0);">Country1</a></li>
                                <li><a href="javascript:void(0);">Country2</a></li>
                                <li><a href="javascript:void(0);">Country3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottomMenu">
                <ul class="footerLinks">
                    <li><a href="javascript:void(0);" class="favourite">Events at Lodha</a></li>
                    <li><a href="javascript:void(0);" class="contact">Blogs</a></li>
                    <li><a href="javascript:;">Buying Guides</a></li>
                    <li><a href="javascript:void(0);">Maharera Regulations</a></li>
                    <li><a href="javascript:void(0);">Feedback</a></li>
                    <li><a href="javascript:void(0);">Feedback</a></li>
                    <li><a href="javascript:void(0);">contact Us</a></li>
                </ul>
                <div class="menuFooter">

                    <div class="social-icons">
                        <ul>
                            <li>
                                <a href="javascript:void(0);"><img src="/{{ directory }}/images/twitter.png" alt="twitter" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="/{{ directory }}/images/fb.png" alt="fb" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="/{{ directory }}/images/youtube.png" alt="youtube" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="/{{ directory }}/images/insta.png" alt="insta" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="/{{ directory }}/images/linkedin.png" alt="linkedin" /></a>
                            </li>

                        </ul>
                    </div>
                    <div class="copyright">
                        <p class="yellowText">&copy; LODHAGroup 2018</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--footer elements-->

</div>