<body class="locateUs">
<div class="outerWrap">
    <!-- Header starts -->
    <div class="fixedHeader">
        <a class="menu" href="javascript:;">MENU</a>
        <a class="logo" href="javascript:;"><img src="{{ directory }}/images/logo-lodha.png" alt="Amara"></a>
        <div class="rightSec">
            <ul>
                <li>
                    <a href="javascript:;" class="favourite"><img src="{{ directory }}/images/icon-favourite.png"></a>
                </li>
                <li>
                    <a href="javascript:;" class="contact"><img src="{{ directory }}/images/icon-contact.png"></a>
                </li>
                <li class="dropdown"><a href="javascript:;">MY LODHA</a></li>
                <li class="dropdown countryLanguage"><a href="javascript:;">IND/EN</a></li>
            </ul>
        </div>
    </div>
    <!-- <div class="subHeader">
        <div class="breadcrumb">
            <ul>
                <li><a href="javascript:;">Home</a></li>
                <li><a href="javascript:;">Residential Properties</a></li>
                <li><a href="javascript:;">Amara</a></li>
                <li>About</li>
            </ul>
        </div>
        <div class="topNav">
            <ul class="owl-carousel">
                <li><a href="javascript:;">About</a></li>
                <li><a href="javascript:;" class="active">Location</a></li>
                <li><a href="javascript:;">Plans</a></li>
                <li><a href="javascript:;">Price</a></li>
                <li><a href="javascript:;">Amenities</a></li>
                <li><a href="javascript:;">Gallery</a></li>
            </ul>
        </div>
    </div> -->
    <!-- Header ends -->
    <section class="residential allproperty">
        {{ page.search_property_search_area }}

        <div class="container">
            {{ page.search_property_filter_area }}

            {{ page.search_property_result_area }}

        </div>
    </section>

   <!-- <footer>
        <div class="copy col-footer">
            <img src="{{ directory }}/images/logo-lodha-ft.png" alt="Lodha">
            <p>© LODHAGroup 2018</p>
        </div>
        <div class="midSec col-footer">
            <ul>
                <li><a href="javascript:;">Site Map</a></li>
                <li><a href="javascript:;">Terms & Condition</a></li>
                <li><a href="javascript:;">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="rightSec col-footer">
            <div class="social-icons">
                <ul>
                    <li>
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/twitter.png" alt="twitter" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/fb.png" alt="fb" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/youtube.png" alt="youtube" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/insta.png" alt="insta" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/linkedin.png" alt="linkedin" /></a>
                    </li>

                </ul>
            </div>
            <a href="javascript:;" class="moreLink">more</a>
        </div>
    </footer> -->

</div>
<!--main menu starts from here-->
<div class="menuOverlay">
    <a href="javascript:void(0);" class="closeBtn"></a>
    <div class="menuWrap">
        <div class="leftMenuBox animated ">
            <div class="topMenu  mobileMenu">
                <div class="rightSec">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" class="favourite"><img src="{{ directory }}/images/icon-favourite.png"></a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);"><img src="{{ directory }}/images/mobile-user.png" alt="mobile-user"></a>
                        </li>
                        <li class="dropdown countryLanguage"><a href="javascript:void(0);">IND</a>
                            <ul class="contryDropdown" style="display:none;">
                                <li><a href="javascript:void(0);">Country1</a></li>
                                <li><a href="javascript:void(0);">Country2</a></li>
                                <li><a href="javascript:void(0);">Country3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="mainMenu">
                <li class="menuActive"><a href="javascript:void(0);">Residential Properties</a></li>
                <li><a href="javascript:void(0);">Commercial Properties</a></li>
                <li><a href="javascript:void(0);" class="subMenuDropdown">Services <span class="dropdownArrow"></span></a>
                    <ul class="subMenu" style="display:none;">
                        <li><a href="javascript:void(0);">Easy lease</a></li>
                        <li><a href="javascript:void(0);">Priva</a></li>
                        <li><a href="javascript:void(0);">Home loan support</a></li>
                        <li><a href="javascript:void(0);">Registration support</a></li>
                        <li><a href="javascript:void(0);">Hospitality and facilities management</a></li>
                        <li><a href="javascript:void(0);"> NRI services</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0);" />Investor Corner</a>
                </li>
                <li><a href="javascript:void(0);" />NRI Corner</a>
                </li>
                <li><a href="javascript:void(0);" />About Lodha</a>
                </li>
                <li><a href="javascript:void(0);" />Careers</a>
                </li>

            </ul>

        </div>
        <div class="rightMenuBox animated">
            <div class="topMenu">
                <div class="rightSec">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" class="favourite"><img src="{{ directory }}/images/icon-favourite.png"></a>
                        </li>
                        <li class="dropdown"><a href="javascript:void(0);">MY LODHA</a></li>
                        <li class="dropdown countryLanguage"><a href="javascript:void(0);">IND</a>
                            <ul class="contryDropdown" style="display:none;">
                                <li><a href="javascript:void(0);">Country1</a></li>
                                <li><a href="javascript:void(0);">Country2</a></li>
                                <li><a href="javascript:void(0);">Country3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottomMenu">
                <ul class="footerLinks">
                    <li><a href="javascript:void(0);" class="favourite">Events at Lodha</a></li>
                    <li><a href="javascript:void(0);" class="contact">Blogs</a></li>
                    <li><a href="javascript:;">Buying Guides</a></li>
                    <li><a href="javascript:void(0);">Maharera Regulations</a></li>
                    <li><a href="javascript:void(0);">Feedback</a></li>
                    <li><a href="javascript:void(0);">Feedback</a></li>
                    <li><a href="javascript:void(0);">contact Us</a></li>
                </ul>
                <div class="menuFooter">

                    <div class="social-icons">
                        <ul>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/twitter.png" alt="twitter" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/fb.png" alt="fb" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/youtube.png" alt="youtube" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/insta.png" alt="insta" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/linkedin.png" alt="linkedin" /></a>
                            </li>

                        </ul>
                    </div>
                    <div class="copyright">
                        <p class="yellowText">&copy; LODHAGroup 2018</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--footer elements-->

</div>
<!--main menu ends here-->
<!-- Get in touch popup -->
<div class="modal" id="getInTouch">
    <div class="modalBody">
        <div class="close">Close</div>
        <div class="getInTouchWrap">
            <div class="getInTouchLightBox">
                <div class="container">
                    <h3>GET IN TOUCH</h3>
                    <div class="formWrapper">
                        <div class="fieldRow">
                            <div class="inputWrap"><input type="text" name="" placeholder="Name"></div>
                        </div>
                        <div class="fieldRow">
                            <div class="inputWrap"><input type="text" name="" placeholder="Email-Id"></div>
                        </div>
                        <div class="fieldRow">
                            <div class="inputWrap"><input type="text" name="" placeholder="Mobile No."></div>
                        </div>
                        <div class="fieldRow">
                            <div class="selectWrapper">
                                <div class="selectedvalue"></div>
                                <select name="">
                                    <option value="" selected>Country</option>
                                    <option>India</option>
                                </select>
                            </div>
                        </div>
                        <div class="fieldRow">
                            <div class="selectWrapper">
                                <div class="selectedvalue"></div>
                                <select name="">
                                    <option value="" selected>City</option>
                                    <option>Mumbai</option>
                                </select>
                            </div>
                        </div>
                        <div class="fieldRow">
                            <ul class="radioGroup">
                                <li><input name="radio1" type="radio" value="" id="enquire" checked><label for="enquire" >Enquire</label></li>
                                <li><input name="radio1" type="radio" value="" id="bookasitevisit"><label for="bookasitevisit">Book a site visit</label></li>
                            </ul>
                        </div>
                        <div class="fieldRow hide">
                            <div class="clm1-2">
                                <div class="inputWrap"><input type="text" name="" placeholder="dd/mm/yyyy"></div>
                            </div>
                            <div class="clm2-2">
                                <div class="inputWrap"><input type="text" name="" placeholder="Time"></div>
                            </div>
                        </div>
                        <div class="buttonWrap flex-wrp">
                            <button class="btn btn-gold">Submit</button>
                            <span class="call">Call : 022 3383 6304</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get in touch popup -->
<script type="text/javascript" src="javascript/jquery.js"></script>
<!-- <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script> -->
<script async defer type="text/javascript" src="javascript/map-places-search.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWus3m2h3YdxBOz9XPyzqgATz-hzBklLo&libraries=places&callback=initMap">
</script>
<script type="text/javascript" src="javascript/owl.carousel.js"></script>
<script type="text/javascript" src="javascript/jquery-ui.js"></script>
<script type="text/javascript" src="javascript/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="javascript/snap.svg.js"></script>
<script type="text/javascript" src="javascript/svg-and-scroll.js"></script>
<script type="text/javascript" src="javascript/needsharebutton.min.js"></script>
<script type="text/javascript" src="javascript/common.js"></script>

</body>
