<body class="themeGreen">
<div class="outerWrap">
    {{ page.residential_fixed_header_block }}
    <!-- Header ends -->
    <div class="subHeader">
        <div class="breadcrumb">
            <ul>
                <li><a href="javascript:;">Home</a></li>
                <li><a href="javascript:;">Residential Properties</a></li>
                <li><a href="javascript:;">Amara</a></li>
                <li>About</li>
            </ul>
        </div>
        <div class="topNav flex-wrp">
            <ul class="owl-carousel">
                <li><a href="aspi.html" class="active">About</a></li>
                <li><a href="locate.html">Location</a></li>
                <li><a href="plans-prices.html">Plans & Price</a></li>
                <li><a href="amenities.html">Amenities</a></li>
                <li><a href="gallery.html">Gallery</a></li>
            </ul>
            <div class="enquire-block">
                    <span class="fav-icon">
                            <img src="{{ directory }}/images//icon-enquire.png" alt="icon-enquire">
                        </span>
                <a href="javascript:;">Enquire</a>
            </div>
        </div>
    </div>
    {{ page.residential_content_banner }}
    {{ page.residential_scheme_under_banner }}
    <section class="lifestyleofthane">
        <div class="topSection">
            <div class="container paddingBoth">
                <div class="sectionTitle">
                    <!-- <span class="icon"><img src="{{ directory }}/images//upload/icon-pillars.png"></span> -->
                    <p>ONE OF THE FINEST LIFESTYLE OF THANE - <span>DELIVERED 8 MONTHS AHEAD OF PROMISE</span></p>
                </div>
                <div class="content">
                    <p>Conceptualized as a neighbourhood where nature and man live in perfect harmony, Amara has been designed to bring world-class living to Thane. Homes close to everything you need, but away from the bustle. This is, after all, Thane’s
                        finest neighbourhood.</p>
                    <p>Immaculately designed with leading partners, and flawlessly managed and executed with Lodha’s unmatched building capabilities...</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>

    <section class="ourAmenities">
        <div class="sectionTitle">
                <span class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="33.208px" height="25px" viewBox="404.341 285.14 33.208 25" enable-background="new 404.341 285.14 33.208 25"
                                        xml:space="preserve">
               <path d="M434.775,290.497c-1.558,0-2.812,1.254-2.812,2.812c0,0.835,0.38,1.558,0.95,2.089l-5.965,3.191l-5.054-7.56
                   c1.14-0.456,1.938-1.558,1.938-2.85c0-1.672-1.367-3.04-3.04-3.04c-1.672,0-3.04,1.368-3.04,3.04c0,1.292,0.798,2.394,1.938,2.812
                   l-5.357,7.561l-5.433-3.078c0.646-0.494,1.064-1.292,1.064-2.204c0-1.558-1.254-2.812-2.812-2.812c-1.558,0-2.812,1.253-2.812,2.812
                   c0,1.368,0.988,2.507,2.28,2.735l1.672,12.425c0.152,0.987,0.988,1.709,1.976,1.709h21.049c0.987,0,1.861-0.722,1.976-1.748
                   l1.672-12.386c1.443-0.114,2.583-1.33,2.583-2.773C437.586,291.751,436.332,290.497,434.775,290.497z M420.831,286.698
                   c0.835,0,1.52,0.684,1.52,1.52s-0.685,1.52-1.52,1.52c-0.836,0-1.52-0.684-1.52-1.52S419.995,286.698,420.831,286.698z
                    M405.899,293.271c0-0.722,0.57-1.292,1.292-1.292c0.722,0,1.292,0.57,1.292,1.292c0,0.722-0.57,1.292-1.292,1.292
                   C406.469,294.563,405.899,293.993,405.899,293.271z M408.293,296.881l5.889,3.344c0.342,0.189,0.76,0.113,0.988-0.229l5.623-7.865
                   l5.244,7.865c0.228,0.342,0.646,0.418,0.987,0.266l6.308-3.381l-0.988,7.523h-23.062L408.293,296.881z M431.356,308.658h-21.049
                   c-0.228,0-0.456-0.189-0.494-0.417l-0.304-2.394h22.645l-0.305,2.355C431.811,308.507,431.583,308.658,431.356,308.658z
                    M434.775,294.563c-0.722,0-1.292-0.57-1.292-1.292c0-0.722,0.57-1.292,1.292-1.292s1.292,0.57,1.292,1.292
                   C436.067,293.993,435.496,294.563,434.775,294.563z"/>
               </svg></span>
            <p>Our <span>AMENITIES</span></p>
        </div>
        <div class="contentWrap">
            <div class="sectionTitle"></div>
            <div class="content"></div>
            <a href="javascript:;" class="btn btn-gold">View More</a>
            <div class="owlCustomWrap">
                <p class="pagination"><span class="activeSlide"></span><span class="totalSlides"></span></p>
                <a href="javascript:;" class="customNextBtn">Next</a>
            </div>
        </div>
        {{ page.residential_amenities_slider }}
    </section>

    <section class="propertyPrice">
        <div class="container">
            <div class="sectionTitle active">
                    <span class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="20.675px" height="30px" viewBox="410.607 282.64 20.675 30" enable-background="new 410.607 282.64 20.675 30"
                                 xml:space="preserve">
                            <path d="M430.109,289.611c-0.914,0-1.826,0-2.74,0c-0.404,0-0.809,0-1.213,0c-0.112-0.867-0.346-1.671-0.714-2.473
                                c-0.364-0.793-0.886-1.523-1.511-2.15c0.977,0,1.951,0,2.928,0c1.072,0,2.145,0,3.217,0c0.012,0,0.021,0,0.033,0
                                c0.639,0,1.174-0.534,1.174-1.174c0-0.64-0.535-1.174-1.174-1.174c-0.914,0-1.826,0-2.74,0c-2.029,0-4.059,0-6.088,0
                                c-2.083,0-4.166,0-6.249,0c-1.073,0-2.145,0-3.218,0c-0.01,0-0.021,0-0.032,0c-0.44,0-0.83,0.252-1.031,0.618
                                c-0.091,0.166-0.144,0.356-0.144,0.556c0,0.6,0.47,1.107,1.056,1.167c0.039,0.004,0.079,0.006,0.119,0.006c0.913,0,1.826,0,2.739,0
                                c0.749,0,1.499,0,2.248,0c0.554,0,1.108,0,1.662,0c0.215,0.008,0.429,0.022,0.642,0.045c0.479,0.079,0.947,0.208,1.399,0.385
                                c0.438,0.198,0.852,0.44,1.239,0.725c0.371,0.301,0.708,0.639,1.009,1.009c0.284,0.387,0.526,0.801,0.726,1.239
                                c0.154,0.396,0.273,0.804,0.353,1.221c-0.839,0-1.679,0-2.518,0c-2.083,0-4.166,0-6.249,0c-1.073,0-2.145,0-3.218,0
                                c-0.011,0-0.021,0-0.032,0c-0.64,0-1.174,0.534-1.174,1.174c0,0.64,0.534,1.174,1.174,1.174c0.913,0,1.826,0,2.739,0
                                c2.03,0,4.06,0,6.089,0c1.028,0,2.058,0,3.086,0c-0.068,0.261-0.152,0.519-0.251,0.771c-0.198,0.438-0.441,0.853-0.726,1.24
                                c-0.301,0.37-0.638,0.708-1.009,1.008c-0.387,0.284-0.801,0.527-1.239,0.725c-0.453,0.178-0.922,0.307-1.403,0.385
                                c-0.659,0.071-1.332,0.045-1.993,0.045c-1.061,0-2.123,0-3.184,0c-0.704,0-1.407,0-2.11,0c-0.64,0-1.174,0.534-1.174,1.174
                                c0,0.207,0,0.414,0,0.62c0,0.356,0.131,0.634,0.36,0.898c0.072,0.084,0.145,0.167,0.217,0.251c0.361,0.419,0.723,0.837,1.084,1.256
                                c1.27,1.471,2.539,2.94,3.809,4.411c1.387,1.605,2.774,3.212,4.161,4.818c0.771,0.893,1.541,1.785,2.312,2.678
                                c0.017,0.02,0.033,0.039,0.051,0.06c0.418,0.484,1.232,0.427,1.66,0c0.219-0.22,0.344-0.521,0.344-0.83
                                c0-0.329-0.135-0.588-0.344-0.83c-0.609-0.706-1.219-1.412-1.828-2.118c-1.34-1.551-2.679-3.103-4.019-4.653
                                c-1.336-1.547-2.671-3.094-4.007-4.641c-0.215-0.249-0.429-0.497-0.644-0.746c1.002,0,2.003,0,3.005,0
                                c0.635,0,1.275,0.022,1.91-0.01c0.846-0.044,1.693-0.211,2.479-0.528c0.859-0.347,1.614-0.799,2.325-1.396
                                c1.253-1.052,2.156-2.569,2.526-4.159c0.033-0.142,0.062-0.285,0.087-0.429c0.255,0,0.509,0,0.763,0c1.072,0,2.145,0,3.217,0
                                c0.012,0,0.021,0,0.033,0c0.639,0,1.174-0.534,1.174-1.174C431.282,290.145,430.747,289.611,430.109,289.611z"/>
                       </svg>

                    </span>
                <p>Property <span>Prices</span></p>
                <span class="before-block"></span>
            </div>
            <div class="propertypricecarousel carousel owl-carousel">
                {{ page.residential_property_prices_slider }}
            </div>
        </div>
    </section>
    <section class="lifestyleWrap">
        {{ page.residential_life_at_project }}
    </section>

    <!-- Section Pillar-Services Starts-->
    <section class="pillarsWrap pillar-services">
        <div class="container">
            <div class="topSection">
                <div class="sectionTitle">
                                <span class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                        width="37.061px" height="32px" viewBox="0 0 37.061 32" enable-background="new 0 0 37.061 32" xml:space="preserve">
                                   <circle cx="19.044" cy="7.115" r="1.339"/>
                                   <path fill="none" stroke="#000000" stroke-width="12" stroke-miterlimit="10" d="M0.905,25.639"/>
                                   <path d="M34.342,25.23h-1.072c0-3.688-1.46-7.191-4.109-9.864c-2.646-2.669-6.188-4.218-9.975-4.362h-1.232
                                       c-3.819,0.145-7.386,1.693-10.043,4.363c-2.655,2.667-4.118,6.171-4.118,9.863H2.719c0-3.979,1.573-7.75,4.432-10.62
                                       c2.852-2.864,6.678-4.526,10.773-4.679h0.021h1.273c4.062,0.152,7.863,1.814,10.705,4.68
                                       C32.772,17.486,34.342,21.258,34.342,25.23z"/>
                                       <path d="M7.495,23.488c-0.007,0-0.013,0-0.02,0c-0.298-0.012-0.528-0.262-0.519-0.557c0.195-5.359,4.844-9.558,10.367-9.356
                                           c0.296,0.011,0.527,0.261,0.517,0.556c-0.011,0.297-0.26,0.528-0.556,0.518c-4.93-0.182-9.082,3.554-9.255,8.322
                                           C8.021,23.26,7.783,23.488,7.495,23.488z"/>
                                       <path d="M24.49,3.411c-0.138,0-0.274-0.052-0.38-0.156c-1.378-1.377-3.194-2.151-5.115-2.181
                                           c-1.912-0.028-3.693,0.687-5.017,2.009c-0.21,0.209-0.551,0.209-0.76,0c-0.21-0.209-0.21-0.55,0-0.76
                                           C14.748,0.793,16.808-0.033,19.01,0c2.201,0.031,4.281,0.918,5.857,2.493c0.21,0.209,0.21,0.55,0,0.759
                                           C24.764,3.359,24.626,3.411,24.49,3.411z"/>
                                       <path d="M22.517,5.209c-0.137,0-0.274-0.052-0.379-0.156c-1.736-1.736-4.514-1.785-6.188-0.109c-0.21,0.21-0.55,0.21-0.759,0
                                           c-0.21-0.209-0.21-0.549,0-0.759c2.095-2.095,5.551-2.046,7.706,0.108c0.21,0.209,0.21,0.549,0,0.76
                                           C22.792,5.158,22.655,5.209,22.517,5.209z"/>
                                   <path d="M37.06,32H0l2.868-5.246H34.19L37.06,32z M1.81,30.926h33.438l-1.693-3.1H3.505L1.81,30.926z"/>
                               </svg>

                               </span>
                    <p>OUR <span>SERVICES</span></p>
                </div>
            </div>
            <div class="pillarsCarousel owl-carousel">
                {{ page.residential_our_services_grid }}
            </div>
        </div>
    </section>
    <!-- Section Pillar-Services Ends-->

    <section class="accordianWrap">
        <div class="container">
            {{ page.residential_credentials_accordion }}
        </div>
    </section>

    <!-- Section residential Starts -->
    <section class="residential">
        <div class="container">
            <div class="wrapper">
                <div class="sectionTitle">
                    <p>YOU MAY <span>ALSO LIKE</span></p>
                </div>
                <div id="residential" class="resComTabs">
                    <div class="resdient-slider owl-carousel">
                        {{ page.residential_you_may_like_listing }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section residential Ends -->


    <!-- ______________________ FOOTER _______________________ -->

    {% if page.footer|render %}
        <footer id="footer">
            <div class="container">
                <div id="footer-region">
                    {{ page.footer }}
                </div>
            </div>
        </footer><!-- /#footer -->
    {% endif %}

</div>
</body>



