<body class="supremusabout">
<div class="outerWrap">
    <!-- Header starts -->
    <div class="fixedHeader">
        <a class="menu" href="javascript:;" id="menu-icon">MENU</a>
        <a class="logo" href="javascript:;"><img src="{{ directory }}/images/logo-supremus.png" alt="Lodha"></a>
        <div class="rightSec">
            <ul>
                <li><a href="javascript:;" class="favourite"><img src="{{ directory }}/images/icon-search.png"></a></li>
                <li><a href="javascript:;" class="favourite"><img src="{{ directory }}/images/icon-favourite.png"></a></li>
                <!-- <li><a href="javascript:;" class="contact"><img src="{{ directory }}/images/icon-contact.png"></a></li> -->
                <!-- <li class="dropdown"><a href="javascript:;"><img src="{{ directory }}/images/mobile-user.png"></a></li> -->
                <li class="myLodha"><a href="javascript:;">MY LODHA</a></li>
                <li class="dropdown countryLanguage"><a href="javascript:;">IND/EN</a></li>
            </ul>
        </div>
    </div>
    <!-- Header ends -->
    <div class="subHeader">
        <div class="breadcrumb">
            <ul>
                <li><a href="javascript:;">Home</a></li>
                <li><a href="javascript:;">Residential Properties</a></li>
                <li><a href="javascript:;">Amara</a></li>
                <li>About</li>
            </ul>
        </div>
        <div class="topNav">
            <ul class="owl-carousel">
                <li><a href="javascript:;" class="active">About</a></li>
                <li><a href="javascript:;">Location</a></li>
                <li><a href="javascript:;">Plans & Price</a></li>
                <li><a href="javascript:;">Amenities</a></li>
                <li><a href="javascript:;">Gallery</a></li>
            </ul>
            <div class="enquire-block">
                <a href="javascript:;" class="modalOpen" data-modal-id="getInTouch">
                        <span class="fav-icon">
                            <img src="{{ directory }}/images/icon-enquire.png" alt="icon-enquire">
                        </span>
                    <span>Enquire</span></a>
            </div>
        </div>
    </div>
    <!-- Header ends -->
    <!-- Section Banner Starts -->
    <section class="mainbanner">
        <div class="bannerImg"></div>
        <div class="price-banner">
            <div class="container">
                <div class="wrapper flex-wrp">
                    <p>Price : <strong>₹69.3 Lacs onwards 2,3 BHK</strong></p>
                    <p>Possession : <strong>Oct 2019</strong></p>
                    <p>Location : <strong>Kolshet Road, Thane</strong></p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Banner Ends -->
    <!-- Section lifestyleWrap Starts -->
    <section class="lifestyleWrap plansWrap">
        <div class="container paddingBoth">
            <div class="topSection">
                <div class="sectionTitle">
                    <span class="icon"><img src="{{ directory }}/images/upload/icon-information.png"></span>
                    <p>A new landmark <span>in workspaces</span></p>
                </div>
                <div class="content">
                    <div class="richTxt">
                        <p>Lorem ipsum dolor sit amet, consectetur <strong>adipiscing elit. Phasellus pharetra</strong> libero congue urna lobortis rhoncus. Nunc cursus augue nec ultrices imperdiet. Cras rhoncus ultrices est, sed maximus justo consectetur vel. Etiam varius non mi id vestibulum. Integer aliquet blandit lacus. Quisque pretium justo quis posuere venenatis. Phasellus feugiat arcu eget auctor rutrum. Etiam accumsan nisi ut dolor euismod venenatis. Nunc lobortis ullamcorper dui vitae venenatis. Maecenas eget risus ut diam convallis mollis. Praesent non ligula risus. Cras finibus vitae mauris ac efficitur.</p>
                        <h3>TITLE LOOKS LIKE THIS</h3>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>Table Title</th>
                                <th>Table Title</th>
                                <th>Table Title</th>
                            </tr>
                            <tr>
                                <td>Table Cont</td>
                                <td>Table Cont</td>
                                <td>Table Cont</td>
                            </tr>
                            <tr>
                                <td>Table Cont</td>
                                <td>Table Cont</td>
                                <td>Table Cont</td>
                            </tr>
                            <tr>
                                <td>Table Cont</td>
                                <td>Table Cont</td>
                                <td>Table Cont</td>
                            </tr>
                            <tr>
                                <td>Table Cont</td>
                                <td>Table Cont</td>
                                <td>Table Cont</td>
                            </tr>
                        </table>
                        <ul>
                            <li>Unordered List</li>
                            <li>Unordered List</li>
                            <li>Unordered List</li>
                            <li>Unordered List</li>
                            <li>Unordered List</li>
                        </ul>
                        <ol>
                            <li>Ordered List</li>
                            <li>Ordered List</li>
                            <li>Ordered List</li>
                            <li>Ordered List</li>
                            <li>Ordered List</li>
                        </ol>
                    </div>
                    <a href="javascript:;" class="more">MORE +</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section lifestyleWrap Ends -->
    <!-- Section Facts & figures Starts -->
    <section class="factsfiguresWrap plansWrap">
        {{ page.commercial_project_facts_and_figures }}
    </section>
    <!-- Section Facts & figures ends -->
    <!-- Section Plans & Price Starts -->
    <section class="propertyPrice">
        <div class="container">
            <div class="sectionTitle active">
                    <span class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="37.061px" height="32px" viewBox="0 0 37.061 32" enable-background="new 0 0 37.061 32" xml:space="preserve">
                        <circle cx="19.044" cy="7.115" r="1.339"></circle>
                        <path fill="none" stroke="#000000" stroke-width="12" stroke-miterlimit="10" d="M0.905,25.639"></path>
                        <path d="M34.342,25.23h-1.072c0-3.688-1.46-7.191-4.109-9.864c-2.646-2.669-6.188-4.218-9.975-4.362h-1.232
                            c-3.819,0.145-7.386,1.693-10.043,4.363c-2.655,2.667-4.118,6.171-4.118,9.863H2.719c0-3.979,1.573-7.75,4.432-10.62
                            c2.852-2.864,6.678-4.526,10.773-4.679h0.021h1.273c4.062,0.152,7.863,1.814,10.705,4.68
                            C32.772,17.486,34.342,21.258,34.342,25.23z"></path>
                            <path d="M7.495,23.488c-0.007,0-0.013,0-0.02,0c-0.298-0.012-0.528-0.262-0.519-0.557c0.195-5.359,4.844-9.558,10.367-9.356
                                c0.296,0.011,0.527,0.261,0.517,0.556c-0.011,0.297-0.26,0.528-0.556,0.518c-4.93-0.182-9.082,3.554-9.255,8.322
                                C8.021,23.26,7.783,23.488,7.495,23.488z"></path>
                            <path d="M24.49,3.411c-0.138,0-0.274-0.052-0.38-0.156c-1.378-1.377-3.194-2.151-5.115-2.181
                                c-1.912-0.028-3.693,0.687-5.017,2.009c-0.21,0.209-0.551,0.209-0.76,0c-0.21-0.209-0.21-0.55,0-0.76
                                C14.748,0.793,16.808-0.033,19.01,0c2.201,0.031,4.281,0.918,5.857,2.493c0.21,0.209,0.21,0.55,0,0.759
                                C24.764,3.359,24.626,3.411,24.49,3.411z"></path>
                            <path d="M22.517,5.209c-0.137,0-0.274-0.052-0.379-0.156c-1.736-1.736-4.514-1.785-6.188-0.109c-0.21,0.21-0.55,0.21-0.759,0
                                c-0.21-0.209-0.21-0.549,0-0.759c2.095-2.095,5.551-2.046,7.706,0.108c0.21,0.209,0.21,0.549,0,0.76
                                C22.792,5.158,22.655,5.209,22.517,5.209z"></path>
                        <path d="M37.06,32H0l2.868-5.246H34.19L37.06,32z M1.81,30.926h33.438l-1.693-3.1H3.505L1.81,30.926z"></path>
                    </svg></span>
                <p>Plans &amp; <span>Prices</span></p>
                <span class="before-block"></span>
            </div>
            {{ page.commercial_project_floor_plan_and_band }}
        </div>
    </section>
    <div class="propprice">
        <p>Price : <strong>₹69.3 Lacs onwards</strong><span>|</span>Possession Date: <strong>Oct 2019</strong></p>
    </div>
    <!-- Section Plans & Price Ends -->
    <!-- Section locate us Starts -->
    <section class="locateUs">
        <div class="container leftPadding">
            <div class="content">
                <div class="sectionTitle">
                        <span class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="37px" height="37px" viewBox="-2.5 -2.5 37 37" enable-background="new -2.5 -2.5 37 37" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M16,34.5C5.796,34.5-2.5,26.205-2.5,16S5.796-2.5,16-2.5c10.205,0,18.5,8.295,18.5,18.5S26.205,34.5,16,34.5z M16-1.307
                                        C6.452-1.307-1.308,6.451-1.308,16c0,9.548,7.76,17.308,17.308,17.308S33.306,25.548,33.306,16
                                        C33.306,6.451,25.546-1.307,16-1.307z"></path>
                                </g>
                                <g>
                                    <g>
                                        <path d="M16,30.921c-4.535,0-8.773-2.03-11.636-5.613l0.955-0.774c2.565,3.343,6.505,5.191,10.681,5.191
                                            c7.579,0,13.726-6.146,13.726-13.726c0-7.581-6.146-13.726-13.726-13.726c-4.416,0-8.593,2.147-11.159,5.788L3.886,7.347
                                            C6.632,3.407,11.167,1.08,16,1.08c8.236,0,14.921,6.684,14.921,14.92C30.918,24.236,24.236,30.921,16,30.921z"></path>
                                    </g>
                                    <g>
                                        <path d="M2.272,16H1.08c0-2.386,0.538-4.596,1.613-6.684l1.075,0.538C2.75,11.764,2.272,13.852,2.272,16z"></path>
                                    </g>
                                    <g>
                                        <path d="M1.378,18.925c-0.12-0.477-0.179-0.895-0.239-1.374l1.193-0.121c0.061,0.415,0.121,0.837,0.178,1.253L1.378,18.925z"></path>
                                    </g>
                                </g>
                                <g>
                                    <path d="M10.271,22.802c-0.359,0-0.777-0.237-0.955-0.535c-0.18-0.361-0.18-0.718,0-1.075l4.356-7.042
                                        c0.062-0.119,0.179-0.24,0.359-0.359l7.042-4.358c0.538-0.298,1.191-0.12,1.493,0.417c0.177,0.359,0.177,0.715,0,1.075
                                        l-4.357,7.042c-0.062,0.121-0.181,0.238-0.36,0.36l-7.042,4.358C10.688,22.743,10.51,22.802,10.271,22.802z M21.31,10.688
                                        l-6.625,4.119l-4.058,6.563l6.624-4.118L21.31,10.688z"></path>
                                </g>
                            </g>
                            </svg></span>
                    <p>Locate <span>Us</span></p>
                </div>
            </div>
        </div>
        <div class="mapContainer">
            <div id="map"></div>
        </div>
    </section>
    <!-- Section locate us ends -->
    <!-- Section accordian Starts -->
    <section class="accordianWrap accordianGoldView">
        <div class="container">
            <div class="accordian-container">
                {{ page.commercial_project_location }}<!-- Merged map and locat_accordian in this region-->
            </div>
        </div>
    </section>
    <!-- Section accordian ends -->
    <!-- Section Our Aminities Starts -->
    <section class="amenities">
        <div class="container">
            <div class="sectionTitle">
                    <span class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="33.208px" height="25px" viewBox="404.341 285.14 33.208 25" enable-background="new 404.341 285.14 33.208 25" xml:space="preserve">
                        <path d="M434.775,290.497c-1.558,0-2.812,1.254-2.812,2.812c0,0.835,0.38,1.558,0.95,2.089l-5.965,3.191l-5.054-7.56
                            c1.14-0.456,1.938-1.558,1.938-2.85c0-1.672-1.367-3.04-3.04-3.04c-1.672,0-3.04,1.368-3.04,3.04c0,1.292,0.798,2.394,1.938,2.812
                            l-5.357,7.561l-5.433-3.078c0.646-0.494,1.064-1.292,1.064-2.204c0-1.558-1.254-2.812-2.812-2.812c-1.558,0-2.812,1.253-2.812,2.812
                            c0,1.368,0.988,2.507,2.28,2.735l1.672,12.425c0.152,0.987,0.988,1.709,1.976,1.709h21.049c0.987,0,1.861-0.722,1.976-1.748
                            l1.672-12.386c1.443-0.114,2.583-1.33,2.583-2.773C437.586,291.751,436.332,290.497,434.775,290.497z M420.831,286.698
                            c0.835,0,1.52,0.684,1.52,1.52s-0.685,1.52-1.52,1.52c-0.836,0-1.52-0.684-1.52-1.52S419.995,286.698,420.831,286.698z
                             M405.899,293.271c0-0.722,0.57-1.292,1.292-1.292c0.722,0,1.292,0.57,1.292,1.292c0,0.722-0.57,1.292-1.292,1.292
                            C406.469,294.563,405.899,293.993,405.899,293.271z M408.293,296.881l5.889,3.344c0.342,0.189,0.76,0.113,0.988-0.229l5.623-7.865
                            l5.244,7.865c0.228,0.342,0.646,0.418,0.987,0.266l6.308-3.381l-0.988,7.523h-23.062L408.293,296.881z M431.356,308.658h-21.049
                            c-0.228,0-0.456-0.189-0.494-0.417l-0.304-2.394h22.645l-0.305,2.355C431.811,308.507,431.583,308.658,431.356,308.658z
                             M434.775,294.563c-0.722,0-1.292-0.57-1.292-1.292c0-0.722,0.57-1.292,1.292-1.292s1.292,0.57,1.292,1.292
                            C436.067,293.993,435.496,294.563,434.775,294.563z"></path>
                        </svg></span>
                <p>Our <span>Amenities</span></p>
            </div>
        </div>
    </section>
    <section class="amenitiesSlider">
        <div class="container">
            <div class="tabsComponent customTabs">
                <ul commonTab="amenityTabs">
                    <li tabName="internal1" amenitySlider="true" class="activeTab">Internal</li>
                    <li tabName="external1" amenitySlider="true">External</li>
                </ul>
            </div>
        </div>
        <div class="amenityTabsHolder flexgallery">
            {{ page.commercial_project_internal_external_tabs }}
        </div>
    </section>
    <!-- Section Our Aminities Ends -->
    <!-- Section Our Gallery Starts -->
    <section class="amenities">
        <div class="container">
            <div class="sectionTitle">
                <p>Our <span>Gallery</span>
                </p>
                <div class="customTabs galTabs">
                    <ul commonTab="amenityTabs_1">
                        <li tabName="iframe" gallerySlider="true">360</li>
                        <li tabName="photos" gallerySlider="true">Photos</li>
                        <li tabName="videos" gallerySlider="true">Videos</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="gallerySlider">
        <div class="amenityTabsHolder flexgallery">
            {{ page.commercial_project_gallery }}
        </div>
    </section>
    <!-- Section Our Gallery Ends -->
    <!-- Section Accordian Starts -->
    <section class="accordianWrap">
        <div class="container">
            <div class="accordian-container">
                {{ page.commercial_project_bottom_accordian }}
            </div>
        </div>
    </section>
    <!-- Section Accordian Ends -->
    <!-- Section Property Details Starts -->
    <section class="propertyDetails">
        <div class="container">
            <div class="wrapper">
                <p>
                    Price: <strong>₹69.3 Lacs onwards</strong>
                </p>
                <p>
                    Typology: <strong>2, 3 BHK</strong>
                </p>
                <p>
                    Possession Date: <strong>Oct 2019</strong>
                </p>
                <p>
                    Location: <strong>Thane</strong>
                </p>
            </div>
        </div>
        <div class="propertyMenu">
            <p class="fav"><a href="javascript:;"><img src="{{ directory }}/images/icon-favourite-gold.png" alt=""></a></p>
            <p id="share-button-2" class="need-share-button-default" data-share-icon-style="box" data-share-networks="Mailto,Twitter,Facebook,Linkedin"></p>
            <p class="download"><a href="javascript:;" target="_blank"><img src="{{ directory }}/images/icon-download.png" alt=""></a></p>
        </div>
    </section>
    <!-- Section Property Details Ends -->
    <!-- Section residential Starts -->
    <section class="residential">
        <div class="container">
            <div class="wrapper">
                <div class="sectionTitle">
                    <p>YOU MAY <span>ALSO LIKE</span></p>
                </div>
                <div id="residential" class="resComTabs">
                    <div class="resdient-slider owl-carousel">
                        <div class="slides">
                            <span class="slider-tag">Residential</span>
                            <div class="res-head flex-wrp">
                                <div class="head-txt">
                                    <h3>LODHA SPLENDORA 1</h3>
                                    <p>Ghodbunder Road, Thane</p>
                                </div>
                                <div class="rating">
                                    <!-- <span class="sprite-star"></span> -->
                                    <img src="{{ directory }}/images/aspi/star.png" alt="star">
                                </div>
                            </div>
                            <div class="inner-wrp">
                                <div class="inner-slider owl-carousel">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                </div>
                                <span class="fav-icon">
                                            <img src="{{ directory }}/images/aspi/fav-icon.png" alt="fav-icon">
                                        </span>
                            </div>
                            <div class="possession-wrp">
                                <p>Possession Date: <b>Oct 2019</b></p>
                                <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
                                <p><span>Offer : 5:90:5 Scheme</span></p>
                            </div>
                            <div class="slide-footer">
                                <a href="javascript:;">View Details</a>
                            </div>
                        </div>
                        <div class="slides">
                            <span class="slider-tag">Residential</span>
                            <div class="res-head flex-wrp">
                                <div class="head-txt">
                                    <h3>LODHA SPLENDORA 2</h3>
                                    <p>Ghodbunder Road, Thane</p>
                                </div>
                                <div class="rating">
                                    <!-- <span class="sprite-star"></span> -->
                                    <img src="{{ directory }}/images/aspi/star.png" alt="star">
                                </div>
                            </div>
                            <div class="inner-wrp">
                                <div class="inner-slider owl-carousel">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                </div>
                                <span class="fav-icon">
                                            <img src="{{ directory }}/images/aspi/fav-icon.png" alt="fav-icon">
                                        </span>
                            </div>
                            <div class="possession-wrp">
                                <p>Possession Date: <b>Oct 2019</b></p>
                                <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
                                <p><span>Offer : 5:90:5 Scheme</span></p>
                            </div>
                            <div class="slide-footer">
                                <a href="javascript:;">View Details</a>
                            </div>
                        </div>
                        <div class="slides">
                            <span class="slider-tag">Residential</span>
                            <div class="res-head flex-wrp">
                                <div class="head-txt">
                                    <h3>LODHA SPLENDORA 3</h3>
                                    <p>Ghodbunder Road, Thane</p>
                                </div>
                                <div class="rating">
                                    <!-- <span class="sprite-star"></span> -->
                                    <img src="{{ directory }}/images/aspi/star.png" alt="star">
                                </div>
                            </div>
                            <div class="inner-wrp">
                                <div class="inner-slider owl-carousel">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                </div>
                                <span class="fav-icon">
                                            <img src="{{ directory }}/images/aspi/fav-icon.png" alt="fav-icon">
                                        </span>
                            </div>
                            <div class="possession-wrp">
                                <p>Possession Date: <b>Oct 2019</b></p>
                                <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
                                <p><span>Offer : 5:90:5 Scheme</span></p>
                            </div>
                            <div class="slide-footer">
                                <a href="javascript:;">View Details</a>
                            </div>
                        </div>
                        <div class="slides">
                            <span class="slider-tag">Residential</span>
                            <div class="res-head flex-wrp">
                                <div class="head-txt">
                                    <h3>LODHA SPLENDORA 4</h3>
                                    <p>Ghodbunder Road, Thane</p>
                                </div>
                                <div class="rating">
                                    <!-- <span class="sprite-star"></span> -->
                                    <img src="{{ directory }}/images/aspi/star.png" alt="star">
                                </div>
                            </div>
                            <div class="inner-wrp">
                                <div class="inner-slider owl-carousel">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                </div>
                                <span class="fav-icon">
                                            <img src="{{ directory }}/images/aspi/fav-icon.png" alt="fav-icon">
                                        </span>
                            </div>
                            <div class="possession-wrp">
                                <p>Possession Date: <b>Oct 2019</b></p>
                                <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
                                <p><span>Offer : 5:90:5 Scheme</span></p>
                            </div>
                            <div class="slide-footer">
                                <a href="javascript:;">View Details</a>
                            </div>
                        </div>
                        <div class="slides">
                            <span class="slider-tag">Residential</span>
                            <div class="res-head flex-wrp">
                                <div class="head-txt">
                                    <h3>LODHA SPLENDORA 5</h3>
                                    <p>Ghodbunder Road, Thane</p>
                                </div>
                                <div class="rating">
                                    <!-- <span class="sprite-star"></span> -->
                                    <img src="{{ directory }}/images/aspi/star.png" alt="star">
                                </div>
                            </div>
                            <div class="inner-wrp">
                                <div class="inner-slider owl-carousel">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                    <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                                </div>
                                <span class="fav-icon">
                                            <img src="{{ directory }}/images/aspi/fav-icon.png" alt="fav-icon">
                                        </span>
                            </div>
                            <div class="possession-wrp">
                                <p>Possession Date: <b>Oct 2019</b></p>
                                <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
                                <p><span>Offer : 5:90:5 Scheme</span></p>
                            </div>
                            <div class="slide-footer">
                                <a href="javascript:;">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section residential Ends -->
    <footer>
        <div class="copy col-footer">
            <img src="{{ directory }}/images/logo-lodha-ft.png" alt="Lodha">
            <p>© LODHAGroup 2018</p>
        </div>
        <div class="midSec col-footer">
            <ul>
                <li><a href="javascript:;">Site Map</a></li>
                <li><a href="javascript:;">Terms & Condition</a></li>
                <li><a href="javascript:;">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="rightSec col-footer">
            <div class="social-icons">
                <ul>
                    <li>
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/twitter.png" alt="twitter" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/fb.png" alt="fb" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/youtube.png" alt="youtube" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/insta.png" alt="insta" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/linkedin.png" alt="linkedin" /></a>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="moreLink">more</a>
        </div>
    </footer>
</div>
<div class="searchLightboxWrap overlay">
    <div class="searchLightbox">
        <a href="javascript:;" class="close"></a>
        <div class="container">
            <div class="search">
                <div class="inputWrap">
                    <input type="text" name="">
                </div>
                <a href="javascript:;" class="searchIcon">Search</a>
            </div>
            <div class="lastSearchList">
                <div class="box">
                    <p>Last Search</p>
                    <ul>
                        <li><a href="javascript:;">2BHK</a></li>
                        <li><a href="javascript:;">Rent in Bandra</a></li>
                        <li><a href="javascript:;">Pallava</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p>Popular Location</p>
                    <ul>
                        <li><a href="javascript:;">South Mumbai</a></li>
                        <li><a href="javascript:;">Andheri</a></li>
                        <li><a href="javascript:;">Ghatkopar</a></li>
                        <li><a href="javascript:;">Dadar</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p>Popular Projects</p>
                    <ul>
                        <li><a href="javascript:;">Pallava</a></li>
                        <li><a href="javascript:;">Azzuro</a></li>
                        <li><a href="javascript:;">Venezia</a></li>
                    </ul>
                </div>
            </div>
            <div class="formWrapper">
                <p class="heading">I WISH TO</p>
                <div class="accordianBox">
                    <div class="fieldRow">
                        <div class="field">
                            <ul class="radioGroup">
                                <li>
                                    <input name="radio1" type="radio" value="" id="buy">
                                    <label for="buy">Buy</label>
                                </li>
                                <li>
                                    <input name="radio1" type="radio" value="" id="rent">
                                    <label for="rent">Rent</label>
                                </li>
                            </ul>
                        </div>
                        <div class="field">
                            <div class="selectWrapper">
                                <div class="selectedvalue"></div>
                                <select name="">
                                    <option value="" selected>Type of Property</option>
                                    <option>Type of Property</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="selectWrapper">
                                <div class="selectedvalue"></div>
                                <select name="">
                                    <option value="" selected>Select City</option>
                                    <option>Mumbai</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="selectWrapper">
                                <div class="selectedvalue"></div>
                                <select name="">
                                    <option value="" selected>Select Locality</option>
                                    <option>Parel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="heading">HOME &amp; BUDGET SIZE</p>
                <div class="accordianBox">
                    <div class="fieldRow">
                        <label>Select Configuration</label>
                        <ul class="radioGroup">
                            <li>
                                <input name="radio2" type="radio" value="" id="bhk1">
                                <label for="bhk1">1BHK</label>
                            </li>
                            <li>
                                <input name="radio2" type="radio" value="" id="bhk2">
                                <label for="bhk2">2BHK</label>
                            </li>
                            <li>
                                <input name="radio2" type="radio" value="" id="bhk3">
                                <label for="bhk3">3BHK</label>
                            </li>
                            <li>
                                <input name="radio2" type="radio" value="" id="bhk4">
                                <label for="bhk4">4BHK</label>
                            </li>
                        </ul>
                    </div>
                    <div class="fieldRow">
                        <label>Select Budget</label>
                        <div class="sliderWrap">
                            <div class="slider">
                                <div class="searchValslider" id="searchValslider"></div>
                            </div>
                            <div class="sliderRangeBox">
                                <ul>
                                    <li>50L</li>
                                    <li>25Cr</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="heading">POSSESSION STATUS</p>
                <div class="accordianBox">
                    <div class="fieldRow">
                        <ul class="checkGroup">
                            <li>
                                <input name="checkbox" type="checkbox" value="" id="checkbox">
                                <label for="checkbox">Ready Possesion</label>
                            </li>
                            <li>
                                <input name="checkbox" type="checkbox" value="" id="checkbox2">
                                <label for="checkbox2">Under Construction</label>
                            </li>
                            <li>
                                <input name="checkbox" type="checkbox" value="" id="checkbox3">
                                <label for="checkbox3">OC Ready</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="buttonWrap">
                    <button class="btn">Search</button>
                    <button class="btn btn-black">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--main menu starts from here-->
<div class="menuOverlay">
    <a href="javascript:void(0);" class="closeBtn"></a>
    <div class="menuWrap">
        <div class="leftMenuBox animated ">
            <div class="topMenu  mobileMenu">
                <div class="rightSec">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" class="favourite"><img src="{{ directory }}/images/icon-favourite.png"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{{ directory }}/images/mobile-user.png" alt="mobile-user"></a>
                        </li>
                        <li class="dropdown countryLanguage"><a href="javascript:void(0);">IND</a>
                            <ul class="contryDropdown" style="display:none;">
                                <li><a href="javascript:void(0);">Country1</a></li>
                                <li><a href="javascript:void(0);">Country2</a></li>
                                <li><a href="javascript:void(0);">Country3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="mainMenu">
                <div class="menuLogo"><a href="javascript:void(0);"><img src="{{ directory }}/images/logo-lodha-black.png" alt="logo-lodha-black"/></a></div>
                <li class="menuActive"><a href="javascript:void(0);">Residential Properties</a></li>
                <li><a href="javascript:void(0);">Commercial Properties</a></li>
                <li><a href="javascript:void(0);" class="subMenuDropdown">Services <span class="dropdownArrow"></span></a>
                    <ul class="subMenu" style="display:none;">
                        <li><a href="javascript:void(0);">Easy lease</a></li>
                        <li><a href="javascript:void(0);">Priva</a></li>
                        <li><a href="javascript:void(0);">Home loan support</a></li>
                        <li><a href="javascript:void(0);">Registration support</a></li>
                        <li><a href="javascript:void(0);">Hospitality and facilities management</a></li>
                        <li><a href="javascript:void(0);"> NRI services</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0);" />Investor Corner</a>
                </li>
                <li><a href="javascript:void(0);" />NRI Corner</a>
                </li>
                <li><a href="javascript:void(0);" />About Lodha</a>
                </li>
                <li><a href="javascript:void(0);" />Careers</a>
                </li>
            </ul>
        </div>
        <div class="rightMenuBox animated">
            <div class="topMenu">
                <div class="rightSec">
                    <ul>
                        <li><a href="javascript:;" class="favourite"><img src="{{ directory }}/images/icon-search.png"></a></li>
                        <li><a href="javascript:;" class="favourite"><img src="{{ directory }}/images/icon-favourite.png"></a></li>
                        <li><a href="javascript:void(0);"><img src="{{ directory }}/images/mobile-user.png" alt="mobile-user"/></a></li>
                        <li class="dropdown countryLanguage"><a href="javascript:void(0);">IND</a>
                            <ul class="contryDropdown" style="display:none;">
                                <li><a href="javascript:void(0);">Country1</a></li>
                                <li><a href="javascript:void(0);">Country2</a></li>
                                <li><a href="javascript:void(0);">Country3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottomMenu">
                <ul class="footerLinks">
                    <li><a href="javascript:void(0);" class="favourite">Events at Lodha</a></li>
                    <li><a href="javascript:void(0);" class="contact">Blogs</a></li>
                    <li><a href="javascript:;">Buying Guides</a></li>
                    <li><a href="javascript:void(0);">Maharera Regulations</a></li>
                    <li><a href="javascript:void(0);">Feedback</a></li>
                    <li><a href="javascript:void(0);">Feedback</a></li>
                    <li><a href="javascript:void(0);">contact Us</a></li>
                </ul>
                <div class="menuFooter">
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/twitter.png" alt="twitter" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/fb.png" alt="fb" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/youtube.png" alt="youtube" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/insta.png" alt="insta" /></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/linkedin.png" alt="linkedin" /></a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright">
                        <p class="yellowText">&copy; LODHAGroup 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer elements-->
</div>
<!-- Get in touch popup -->
<div class="modal" id="getInTouch">
    <div class="modalBody">
        <div class="close">Close</div>
        <div class="getInTouchWrap">
            <div class="getInTouchLightBox">
                <div class="container">
                    <h3>GET IN TOUCH</h3>
                    <div class="formWrapper">
                        <div class="fieldRow">
                            <div class="inputWrap">
                                <input type="text" name="" placeholder="Name">
                            </div>
                        </div>
                        <div class="fieldRow">
                            <div class="inputWrap">
                                <input type="text" name="" placeholder="Email-Id">
                            </div>
                        </div>
                        <div class="fieldRow">
                            <div class="inputWrap">
                                <input type="text" name="" placeholder="Mobile No.">
                            </div>
                        </div>
                        <div class="fieldRow">
                            <div class="selectWrapper">
                                <div class="selectedvalue"></div>
                                <select name="">
                                    <option value="" selected>Country</option>
                                    <option>India</option>
                                </select>
                            </div>
                        </div>
                        <div class="fieldRow">
                            <div class="selectWrapper">
                                <div class="selectedvalue"></div>
                                <select name="">
                                    <option value="" selected>City</option>
                                    <option>Mumbai</option>
                                </select>
                            </div>
                        </div>
                        <div class="fieldRow">
                            <ul class="radioGroup">
                                <li>
                                    <input name="radio1" type="radio" value="" id="enquire" checked>
                                    <label for="enquire">Enquire</label>
                                </li>
                                <li>
                                    <input name="radio1" type="radio" value="" id="bookasitevisit">
                                    <label for="bookasitevisit">Book a site visit</label>
                                </li>
                            </ul>
                        </div>
                        <div class="fieldRow hide">
                            <div class="clm1-2">
                                <div class="inputWrap">
                                    <input type="text" name="" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="clm2-2">
                                <div class="inputWrap">
                                    <input type="text" name="" placeholder="Time">
                                </div>
                            </div>
                        </div>
                        <div class="buttonWrap flex-wrp">
                            <button class="btn btn-gold">Submit</button>
                            <span class="call">Call : 022 3383 6304</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get in touch popup -->
<!--main menu ends here-->
<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/map-places-search.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWus3m2h3YdxBOz9XPyzqgATz-hzBklLo&libraries=places&callback=initMap">
</script>
<script type="text/javascript" src="javascript/owl.carousel.js"></script>
<script type="text/javascript" src="javascript/jquery.flexslider.js"></script>
<script type="text/javascript" src="javascript/jquery-ui.js"></script>
<script type="text/javascript" src="javascript/lightbox.min.js"></script>
<script type="text/javascript" src="javascript/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="javascript/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="javascript/snap.svg.js"></script>
<script type="text/javascript" src="javascript/svg-and-scroll.js"></script>
<script type="text/javascript" src="javascript/needsharebutton.min.js"></script>
<script type="text/javascript" src="javascript/common.js"></script>
<script type="text/javascript" src="javascript/common_am.js"></script>
<script type="text/javascript" src="javascript/common_ri.js"></script>
<script>
    // new needShareDropdown(document.getElementById('share-button-2'));

</script>
</body>
