<body class="black">
    <div class="outerWrap commercialWrapper ">
        <!-- Header starts -->
        <!-- Header starts -->
        <div class="fixedHeader">
            <a class="menu" href="javascript:;" id="menu-icon">MENU</a>
            <a class="logo" href="javascript:;"><img src="{{ directory }}/images/logo-lodha.png" alt="Lodha"></a>
            <div class="rightSec">
                <ul>
                    <li>
                        <a href="javascript:;" class="favourite"><img src="{{ directory }}/images/icon-search.png"></a>
                    </li>
                    <li>
                        <a href="javascript:;" class="favourite"><img src="{{ directory }}/images/icon-favourite.png"></a>
                    </li>
                    <!-- <li><a href="javascript:;" class="contact"><img src="{{ directory }}/images/icon-contact.png"></a></li> -->
                    <!-- <li class="dropdown"><a href="javascript:;"><img src="{{ directory }}/images/mobile-user.png"></a></li> -->
                    <li class="myLodha"><a href="javascript:;">MY LODHA</a></li>
                    <li class="dropdown countryLanguage"><a href="javascript:;">IND/EN</a></li>
                </ul>
            </div>
        </div>
        <!-- Header ends -->
        <!--video section starts from here-->
        <div class="containerWrap commercialSpace">

            <div class="videoBlock">
                <div class="container">
                    <div class="videoWrapper">
                        {{ page.commercial_home_main_banner_or_video_block }}

                        <!--<button id="modalBtn">Open Modal</button>-->
                        <div class="videoText">
                            <h3>COMMERCIAL SPACES</h3>
                            <p>designed for business of every kind</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--video section ends here-->
            <!--tab section starts from here-->
            <div class="container">
                <div class="videoContentWrap">
                    <div class="content">
                        <p>Lodha Group provides comprehensive office, residential and retail space solutions across diverse
                            consumer segments.</p>
                        <p>Lodha Group provides comprehensive office, residential and retail space solutions across diverse
                            consumer segments.</p>

                    </div>
                    <div class="showMore">
                        <a href="javascript:void(0);" class="moreBtn">More
                            <span class="plus-icon">+</span>
                        </a>
                        <a href="javascript:void(0);" class="lessBtn" style="display:none;">Less
                            <span class="plus-icon">-</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <!--owl carousel tab menu-->
                <div class="scroller_anchor"></div>
                <div class="tabMenu" id="tabMenuBlock">
                    <div class="tabCarousel  owl-carousel">
                        {{ page.commercial_home_mid_page_menu }}
                    </div>
                </div>

                <!--owl carousel tab menu-->
            </div>
            <!--tab section starts from here-->
            <div class="pageSectionWrapper">
                {{ page.commercial_home_mid_page_section }}
                <!--view more detail section ends here-->
                <!--retail management starts from hee-->
                <div class="pageSection" id="warehouse">
                    <div class="propertyPriceWrp">
                        <div class="container">
                            <div class="sectionTitle active">
                                <p> WAREHOUSE <span> &amp; LOGISTICS</span></p>
                                <span class="before-block"></span>
                            </div>
                        </div>
                        {{ page.commercial_home_warehouse_block}}
                    </div>
                </div>
            </div>
            <!--ware house block ends here-->

            <!--download broucher section-->
            {{ page.commercial_brochure_band }}
            <!--download section ends here-->

        </div>
        <!--<footer>
            <div class="copy">
                <img src="{{ directory }}/images/logo-lodha-ft.png" alt="Lodha">
                <p>© LODHAGroup 2018</p>
            </div>
            <div class="midSec">
                <ul>
                    <li><a href="javascript:;">Site Map</a></li>
                    <li><a href="javascript:;">Terms & Condition</a></li>
                    <li><a href="javascript:;">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="rightSec">
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="javascript:void(0);"><img src="{{ directory }}/images/twitter.png" alt="twitter" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{{ directory }}/images/fb.png" alt="fb" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{{ directory }}/images/youtube.png" alt="youtube" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{{ directory }}/images/insta.png" alt="insta" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{{ directory }}/images/linkedin.png" alt="linkedin" /></a>
                        </li>

                    </ul>
                </div>
                <a href="javascript:;" class="moreLink">more</a>
            </div>
        </footer> -->
    </div>
    </div>

    <!--<div class="searchLightboxWrap overlay">
        <div class="searchLightbox">
            <a href="javascript:;" class="close"></a>
            <div class="container">
                <div class="search">
                    <div class="inputWrap">
                        <input type="text" name="">
                    </div>
                    <a href="javascript:;" class="searchIcon">Search</a>
                </div>
                <div class="lastSearchList">
                    <div class="box">
                        <p>Last Search</p>
                        <ul>
                            <li>
                                <a href="javascript:;">2BHK</a>
                            </li>
                            <li>
                                <a href="javascript:;">Rent in Bandra</a>
                            </li>
                            <li>
                                <a href="javascript:;">Pallava</a>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <p>Popular Location</p>
                        <ul>
                            <li>
                                <a href="javascript:;">South Mumbai</a>
                            </li>
                            <li>
                                <a href="javascript:;">Andheri</a>
                            </li>
                            <li>
                                <a href="javascript:;">Ghatkopar</a>
                            </li>
                            <li>
                                <a href="javascript:;">Dadar</a>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <p>Popular Projects</p>
                        <ul>
                            <li>
                                <a href="javascript:;">Pallava</a>
                            </li>
                            <li>
                                <a href="javascript:;">Azzuro</a>
                            </li>
                            <li>
                                <a href="javascript:;">Venezia</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="formWrapper">
                    <p class="heading">I WISH TO</p>
                    <div class="accordianBox">
                        <div class="fieldRow">
                            <div class="field">
                                <ul class="radioGroup">
                                    <li>
                                        <input name="radio1" type="radio" value="" id="buy">
                                        <label for="buy">Buy</label>
                                    </li>
                                    <li>
                                        <input name="radio1" type="radio" value="" id="rent">
                                        <label for="rent">Rent</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="field">
                                <div class="selectWrapper">
                                    <div class="selectedvalue"></div>
                                    <select name="">
                                        <option value="" selected>Type of Property</option>
                                        <option>Type of Property</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <div class="selectWrapper">
                                    <div class="selectedvalue"></div>
                                    <select name="">
                                        <option value="" selected>Select City</option>
                                        <option>Mumbai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <div class="selectWrapper">
                                    <div class="selectedvalue"></div>
                                    <select name="">
                                        <option value="" selected>Select Locality</option>
                                        <option>Parel</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="heading">HOME &amp; BUDGET SIZE</p>
                    <div class="accordianBox">
                        <div class="fieldRow">
                            <label>Select Configuration</label>
                            <ul class="radioGroup">
                                <li>
                                    <input name="radio2" type="radio" value="" id="bhk1">
                                    <label for="bhk1">1BHK</label>
                                </li>
                                <li>
                                    <input name="radio2" type="radio" value="" id="bhk2">
                                    <label for="bhk2">2BHK</label>
                                </li>
                                <li>
                                    <input name="radio2" type="radio" value="" id="bhk3">
                                    <label for="bhk3">3BHK</label>
                                </li>
                                <li>
                                    <input name="radio2" type="radio" value="" id="bhk4">
                                    <label for="bhk4">4BHK</label>
                                </li>
                            </ul>
                        </div>
                        <div class="fieldRow">
                            <label>Select Budget</label>
                            <div class="sliderWrap">
                                <div class="slider">
                                    <div class="searchValslider" id="searchValslider"></div>
                                </div>
                                <div class="sliderRangeBox">
                                    <ul>
                                        <li>50L</li>
                                        <li>25Cr</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="heading">POSSESSION STATUS</p>
                    <div class="accordianBox">
                        <div class="fieldRow">
                            <ul class="checkGroup">
                                <li>
                                    <input name="checkbox" type="checkbox" value="" id="checkbox">
                                    <label for="checkbox">Ready Possesion</label>
                                </li>
                                <li>
                                    <input name="checkbox" type="checkbox" value="" id="checkbox2">
                                    <label for="checkbox2">Under Construction</label>
                                </li>
                                <li>
                                    <input name="checkbox" type="checkbox" value="" id="checkbox3">
                                    <label for="checkbox3">OC Ready</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="buttonWrap">
                        <button class="btn">Search</button>
                        <button class="btn btn-black">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!--overlay starts from here-->
    <!--<div id="myModal" class="customModal">-->

        <!-- Modal content -->
        <div class="modalDialog">
            <div class="modalContent">
                <span class="close">&times;</span>
                <div class="contentWrap">
                    <iframe width="100%" height="500" src="https://www.youtube.com/embed/-DYSucV1_9w" frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>


    <!--main menu starts from here-->
    <div class="menuOverlay">
        <a href="javascript:void(0);" class="closeBtn"></a>
        <div class="menuWrap">
            <div class="leftMenuBox animated ">
                <div class="topMenu  mobileMenu">
                    <div class="rightSec">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" class="favourite"><img src="{{ directory }}/images/icon-favourite.png"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/mobile-user.png" alt="mobile-user"></a>
                            </li>
                            <li class="dropdown countryLanguage"><a href="javascript:void(0);">IND</a>
                                <ul class="contryDropdown" style="display:none;">
                                    <li><a href="javascript:void(0);">Country1</a></li>
                                    <li><a href="javascript:void(0);">Country2</a></li>
                                    <li><a href="javascript:void(0);">Country3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="mainMenu">
                    <div class="menuLogo">
                        <a href="javascript:void(0);"><img src="{{ directory }}/images/logo-lodha-black.png" alt="logo-lodha-black" /></a>
                    </div>
                    <li class="menuActive"><a href="javascript:void(0);">Residential Properties</a></li>
                    <li><a href="javascript:void(0);">Commercial Properties</a></li>
                    <li><a href="javascript:void(0);" class="subMenuDropdown">Services <span class="dropdownArrow"></span></a>
                        <ul class="subMenu" style="display:none;">
                            <li><a href="javascript:void(0);">Easy lease</a></li>
                            <li><a href="javascript:void(0);">Priva</a></li>
                            <li><a href="javascript:void(0);">Home loan support</a></li>
                            <li><a href="javascript:void(0);">Registration support</a></li>
                            <li><a href="javascript:void(0);">Hospitality and facilities management</a></li>
                            <li><a href="javascript:void(0);"> NRI services</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);">Investor Corner</a></li>
                    <li><a href="javascript:void(0);">NRI Corner</a></li>
                    <li><a href="javascript:void(0);">About Lodha</a></li>
                    <li><a href="javascript:void(0);">Careers</a></li>
                </ul>
            </div>
            <div class="rightMenuBox animated">
                <div class="topMenu">
                    <div class="rightSec">
                        <ul>
                            <li>
                                <a href="javascript:;" class="favourite"><img src="{{ directory }}/images/icon-search.png"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="favourite"><img src="{{ directory }}/images/icon-favourite.png"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{ directory }}/images/mobile-user.png" alt="mobile-user" /></a>
                            </li>
                            <li class="dropdown countryLanguage"><a href="javascript:void(0);">IND</a>
                                <ul class="contryDropdown" style="display:none;">
                                    <li><a href="javascript:void(0);">Country1</a></li>
                                    <li><a href="javascript:void(0);">Country2</a></li>
                                    <li><a href="javascript:void(0);">Country3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottomMenu">
                    <ul class="footerLinks">
                        <li><a href="javascript:void(0);" class="favourite">Events at Lodha</a></li>
                        <li><a href="javascript:void(0);" class="contact">Blogs</a></li>
                        <li><a href="javascript:;">Buying Guides</a></li>
                        <li><a href="javascript:void(0);">Maharera Regulations</a></li>
                        <li><a href="javascript:void(0);">Feedback</a></li>
                        <li><a href="javascript:void(0);">Feedback</a></li>
                        <li><a href="javascript:void(0);">contact Us</a></li>
                    </ul>
                    <div class="menuFooter">
                        <div class="social-icons">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);"><img src="{{ directory }}/images/twitter.png" alt="twitter" /></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="{{ directory }}/images/fb.png" alt="fb" /></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="{{ directory }}/images/youtube.png" alt="youtube" /></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="{{ directory }}/images/insta.png" alt="insta" /></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="{{ directory }}/images/linkedin.png" alt="linkedin" /></a>
                                </li>

                            </ul>
                        </div>
                        <div class="copyright">
                            <p class="yellowText">&copy; LODHA Group 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--main menu ends here-->
    <script type="text/javascript" src="javascript/rita.js"></script>
</body>