<div class="sliderWrap">
    <div class="galleryWrap">
        <div class="galleryWrapper banner">
            <ul>
                <li data-attr="Come experience leisure in luxury"><img src="{{ directory }}/images/upload/tower-img.jpg" alt=""></li>
                <li data-attr="Come experience leisure in luxury 02"><img src="{{ directory }}/images/upload/img2.jpg" alt=""></li>
                <li data-attr="Come experience leisure in luxury 03"><img src="{{ directory }}/images/upload/img3.jpg" alt=""></li>
                <li data-attr="Come experience leisure in luxury 04"><img src="{{ directory }}/images/upload/img4.jpg" alt=""></li>
            </ul>
        </div>
        <p class="copytext">Come experience leisure in luxury</p>
        <div id="slider" class="slider"></div>
    </div>
    <div class="galleryWrap">
        <div class="galleryWrapper1 banner">
            <ul>
                <li data-attr="Come experience leisure in luxury"><img src="{{ directory }}/images/upload/tower-img.jpg" alt=""></li>
                <li data-attr="Come experience leisure in luxury 02"><img src="{{ directory }}/images/upload/img2.jpg" alt=""></li>
                <li data-attr="Come experience leisure in luxury 03"><img src="{{ directory }}/images/upload/img3.jpg" alt=""></li>
                <li data-attr="Come experience leisure in luxury 04"><img src="{{ directory }}/images/upload/img4.jpg" alt=""></li>
            </ul>
        </div>
        <p class="copytext">Come experience leisure in luxury</p>
        <div id="slider1" class="slider"></div>
    </div>
</div>