<div class="projectstabcontent">
    <div class="content active">
        <div class="carouImg projectimgCarou flexslider">
            <ul class="slides">
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
            </ul>
        </div>
        <div class="carouCont projectContCarou flexslider">
            <ul class="slides">
                <li class="carouselCont">
                    <p class="title">lodha supremus 01</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 02</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 03</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 04</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
            </ul>
        </div>
        <div class="custom-navigation">
            <a href="#" class="flex-prev">Prev</a>
            <a href="#" class="flex-next">Next</a>
            <div class="pagination"><span>02</span> / <span>03</span></div>
        </div>
    </div>
    <div class="content">
        <div class="carouImg projectimgCarou flexslider">
            <ul class="slides">
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
            </ul>
        </div>
        <div class="carouCont projectContCarou flexslider">
            <ul class="slides">
                <li class="carouselCont">
                    <p class="title">lodha supremus 01</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 02</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 03</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 04</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
            </ul>
        </div>
        <div class="custom-navigation">
            <a href="#" class="flex-prev">Prev</a>
            <a href="#" class="flex-next">Next</a>
            <div class="pagination"><span>02</span> / <span>03</span></div>
        </div>
    </div>
    <div class="content">
        <div class="carouImg projectimgCarou flexslider">
            <ul class="slides">
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
            </ul>
        </div>
        <div class="carouCont projectContCarou flexslider">
            <ul class="slides">
                <li class="carouselCont">
                    <p class="title">lodha supremus 01</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 02</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 03</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 04</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
            </ul>
        </div>
        <div class="custom-navigation">
            <a href="#" class="flex-prev">Prev</a>
            <a href="#" class="flex-next">Next</a>
            <div class="pagination"><span>02</span> / <span>03</span></div>
        </div>
    </div>
    <div class="content">
        <div class="carouImg projectimgCarou flexslider">
            <ul class="slides">
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
                <li class="carouselImg"><img src="{{ directory }}/images/upload/office01.jpg"></li>
            </ul>
        </div>
        <div class="carouCont projectContCarou flexslider">
            <ul class="slides">
                <li class="carouselCont">
                    <p class="title">lodha supremus 01</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 02</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 03</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
                <li class="carouselCont">
                    <p class="title">lodha supremus 04</p>
                    <p>Until now, growing companies looking to set up offices in the heart of Mumbai’s business
                        districts had limited choices: opt for a sub-standard space in old structures, or move into
                        cramped spaces in new developments.</p>
                    <a href="javascript:;" class="btn">Discover</a></li>
            </ul>
        </div>
        <div class="custom-navigation">
            <a href="#" class="flex-prev">Prev</a>
            <a href="#" class="flex-next">Next</a>
            <div class="pagination"><span>02</span> / <span>03</span></div>
        </div>
    </div>
</div>