
<p class="resultitle"><span>40</span> Properties matching your search</p>

<div class="searchresult">
    <div class="slides">
        <span class="slider-tag">Residential</span>
        <div class="res-head flex-wrp">
            <div class="head-txt">
                <h3>LODHA SPLENDORA 1</h3>
                <p>Ghodbunder Road, Thane</p>
            </div>
            <div class="rating">
                <!-- <span class="sprite-star"></span> -->
                <!-- <img src="{{ directory }}/images/viewicon.png" alt="star"> -->
                <img src="{{ directory }}/images/aspi/star.png" alt="star">
            </div>
        </div>
        <div class="inner-wrp">
            <div class="inner-slider owl-carousel">
                <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
                <img src="{{ directory }}/images/aspi/slide1.jpg" alt="resident-image">
            </div>
            <span class="fav-icon">
                <img src="{{ directory }}/images/aspi/fav-icon.png" alt="fav-icon">
            </span>
        </div>

        <div class="possession-wrp">
            <p>Possession Date: <b>Oct 2019</b></p>
            <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
            <p><span>Offer : 5:90:5 Scheme</span></p>
        </div>
        <div class="slide-footer">
            <a href="javascript:;">View Details</a>
        </div>
    </div>
</div>