
<div class="imgWrap">
    {% for data in content["#data_obj"] %}
        <div class="profilePic picPos-0{{ data.sequence }}"><span class="tab" data-attr="{{ data.sequence }}"><img src="{{ data.imagePath }}"></span></div>
    {% endfor %}
    <div class="profilePicFrame"></div>
</div>
<div class="content">
    <div class="profileWrap">
    {% for data in content["#data_obj"] %}
        <div class="profileBox">
            {{ data.desc|raw }}
            <p class="name">{{ data.title}}</p>
        </div>
    {% endfor %}
    </div>
</div> 