
<div id="internal" class="amenityTabs">
    <div class="thumbSlider">
        <div id="internalPaging" class="paging">
            <span class="currentSlide">1</span> / <span class="totalSlides"></span>
        </div>
        <div class="sliderAmenities flexslider" navFor="internalPaging">
            <ul class="slides flexImg">
                {% for data in content["#data_obj"]["internalAmenities"] %}
                    <li>
                        <img src="{{ data['image_path'] }}" />
                        <p class="flex-caption">{{ data['image_caption'] }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="listComponent" id="list1">
            {{ content["#data_obj"]['features'] | raw }}
        </div>
        <p class="toggleBtn">
            <a href="javascript:;" toggleContent="list1">
                <span class="more">More <span class="operators">+</span></span>
                <span class="less">less <span class="operators">-</span></span>
            </a>
        </p>
        <p class="notes">*Except kitchen, passage and bathroom</p>
    </div>
</div>

<div id="external" class="amenityTabs">
    <div class="thumbSlider">
        <div id="internalPaging" class="paging">
            <span class="currentSlide">1</span> / <span class="totalSlides"></span>
        </div>
        <div class="sliderAmenities flexslider" navFor="internalPaging">
            <ul class="slides flexImg">
                {% for data in content["#data_obj"]["externalAmenities"] %}
                    <li>
 <img src="{{ directory }}/images/floor-plan.jpg" />
                        <img src="{{ data['image_path'] }}" />
                        <p class="flex-caption">{{ data['image_caption'] }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="listComponent" id="list1">
            {{ content["#data_obj"]['features'] | raw }}
        </div>
        <p class="toggleBtn">
            <a href="javascript:;" toggleContent="list1">
                <span class="more">More <span class="operators">+</span></span>
                <span class="less">less <span class="operators">-</span></span>
            </a>
        </p>
        <p class="notes">*Except kitchen, passage and bathroom</p>
    </div>
</div>
